/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a.active {
    color: red;
}

.person-card {
    width: 185px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.person-card img {
    object-fit: cover; 
    height: 278px;
}

.person-trauncate {
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-profile-backdrop {
    display: block;
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: -1;
}

.movie-profile-backdrop img {
    object-fit: cover; 
    width:100%; 
    height:300px;
}

.movie-profile-picture {
    display: block;
    width: 300px;
    height: 350px;
    position: relative;
    top: 100px;
    margin: auto auto;
    margin-bottom: 100px;
    overflow: hidden;
    border-radius: 10px;
    
}

.shadow {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.section {
    margin-top: 10px;
}

.floating-icons {
    display: block;
    position: relative;
    bottom: 100px;
    padding: 0 10px 0 10px;
}

.video-card {
    margin: 10px;
}

.max-line-2 {
    max-height: calc(1.4rem * 2);
    overflow: hidden;
}

.horizontal-scroll {
    height: 400px;
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
}